 <h2>Ajouter un ticket </h2>
<%= form_for @ticket do |f| %>
<div class="form-group">
  <label>titre du ticket </label>
   <%= f.text_field :titre, class:'form-control' %><br />
</div>
<div class="form-group">
  <label>Description du ticket  </label>
  <%= f.text_area :desctiption, class:'form-control' %><br />
</div>
<div class="form-group">
<select name="post[ticket_id]" id="post_person_id">
  <option value="" label=" "></option>
  <option value="1">A faire</option>
  <option value="2" selected="selected">En cours</option>
  <option value="3">terminée</option>
</select>
<br />
<div class="form-group">
  <label>Assigner à</label>
  <%= f.select :personne_id, Personne.all.collect { |p| [ p.nom, p.id ] }, include_blank: true %>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Ajouter le ticket </button>
</div>

<% end %>